<?xml version='1.0' encoding='utf-8'?>
<odoo>

    <menuitem id='hs_menu_root' name='Herbs Store'>
        <menuitem id='menu_frontdesk' name='Front Desk'>
            <menuitem id='hs_orders_menu_action'
                name='Orders'
                action='hs_orders_action'
            />
            <menuitem id='hs_orders_menu_readonly_action'
                name='View orders'
                action='hs_orders_readonly_action'
            />
        </menuitem>
    </menuitem>

</odoo>